@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

$primary: #ffffff;
$secondary: #FFA500;
$text: #573B07;
@mixin flex() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#grid::-webkit-scrollbar {
    opacity: 0;
  }

  #h1 {
    margin: 10px 0;
  }


img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: relative;
    top: -100px;
    right: 20px;
}


#topPick {
    margin: 100px 0;
}

.artc {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    height: 250px;
    text-align: center;
    border-radius: 0 20px 0 20px;
    position: relative;
    top: 100px;
    // background-color: darken($color: $secondary, $amount: 50%);

    #cart {
        position: relative;
        top: -230px;
        right: -180px;
        cursor: pointer;
    } 
    h1 {
        margin-top: 30px ;
        font-weight: bolder;
        margin-bottom: 10px;
        color: darken($color: $text, $amount: 20%);
        position: relative;
        top: -100px;
        text-decoration: none;
        font-family: 'Signika Negative', sans-serif;
    }
    p {
        margin-top: 0px ;
        position: relative;
        top: -100px;
        font-weight: lighter;
        color: $text;
    }

    .counter {
        padding: 10px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
        top: -100px;

        button {
            border-radius: 50%;
            padding: 3px;
            border: 1px solid $secondary;
            background-color: $secondary;
        }

        span {
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    #addToCart {
        padding: 10px 20px;
        width: 100%;
        background-color: darken($color: $secondary, $amount: 50%);
        color: $secondary;
        font-size: 16px;
        border: none;
        border-radius: 0 20px 0 20px;
        position: relative;
        top: -70px;
    }
}


@media screen and (max-width: 800px) {

    #food {
        padding: 0 0px;
    }
    img {
        height: 100px;
        width: 100px;
        top: -60px;
    }
   #h1 {
    margin: 0 !important;
   }
    .artc {
        margin: 0px 0px 0px 10px !important;
        width: 70%;
        height: 250px;

        h1 {
            top: -70px ;
        }
        p {
            top: -50px;
        }
        .counter {
            top: -50px;
        }
        #addToCart {
            top: -30px;
        }
    }

    #grid {
        padding: 0;
    }
}