
$primary: #ffffff;
$secondary: #FFA500;
$text: #573B07;

#footer {
    background-color: lighten($color: $secondary, $amount: 20%);
    hr {
        border: 0.5px solid lighten($color: $text, $amount: 10%);
    }
    p {
        text-align: center;
        margin: 10px 0;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    // max-height: 300px !important;
    padding: 50px 100px;
    margin-top: 150px;

    .art1, .art2,.art3 {
        width: 30%;

        h1 {
            color: darken($color: $text, $amount: 20%);
            margin-bottom: 20px;

        }
    }

    .art4 {
        h1 {
            color: darken($color: $text, $amount: 20%);
            margin-bottom: 20px;
        }

        figure {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
    .call {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
#footer{ 
background-color: lighten($color: $secondary, $amount: 10%);
}
    .footer {
        padding: 10px;
        margin-top: 10px;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        gap: 20px;
        height: 100%;

        .art1, .art2,.art3 {
            width: 100%;
            p{text-align: start};
        }
    }
}